.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: right;
    font-size: 24px;
    color: white;
}

.loginBlock a{
    color: white;
}